.api{
    border:1px black solid;
    height: 100px;
    width: 200px;
}
.apiHyde{
    display:none;
}

.apiShow{
    
}

li{
    display: flex;

}

.apiList{
    display: flex;
    justify-content: center;
    align-items: center;
}

.api{
    margin: 10px;
}